/* Base Element Styles */

*{
box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    background-color: #EEEDEB;
}

h1,
h2,
h3,
.main-nav,
.back-to-top {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #111111;
}

h1,
h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px 0 20px;
    color: #36BF98
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 25px 0 15px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
.main-nav a:hover,
.footer-nav a:hover{
    color: #02BEA1;
}

img {
    max-width: 100%;
}

p {
    font-size: 0.95em;
}

/* ================================= 
  Base Layout Styles
==================================== */

.name {
    text-align: center;
    font-size: 1.5em;
    margin: 5px 5px;
}

.main-nav {
    margin: 30px 15px 0;
}

.main-nav a {
    text-align: center;
    display: block;
    padding: 5px 0;
    margin: 5px 0;
    background-color: white;
}

.main-nav a,
.back-to-top {
    font-size: 1em;
    text-transform: uppercase;
}

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.profile-img {
    max-width: 200px;
    margin: 0 15px;
}

#portfolio {
    padding: 30px 10px;
    background-color: white;
    padding-right: 1em;
    padding-left: 1em;
}

#portfolio,
#skills,
#contact,
.welcome {
    text-align: center;
}

.welcome,
#contact {
    color: #111;
    padding: 2em 1em;
    margin-bottom: 1em;
}

.project {
    margin: 15px 15px 25px;
    list-style-position: inside;
}

#skills {
    background-color: #EEEDEB;
    padding: 0.5em;
    border: 2px solid white;
}

.skills-list ul {
    padding: 0;
    text-align: center;
}

.skills-list li {
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    background: #36BF98;
    color: white;
    padding: 15px 10px;
}

.skills-list li:nth-child(odd) {
    background: #5AC4B0;
}

#contact {
    background-color: #EEEDEB;
    padding: 1em;
}

footer {
    border-top: 1px solid #444444;
    margin: 30px 15px 35px;
}

.footer-name {
    text-align: left;
    float: left;
    text-transform: none;
}

.footer-name a,
.back-to-top a {
    color: #111111;
}

.footer-nav {
    display: none;
}

.back-to-top {
    text-align: right;
    float: right;
    margin: 30px 0;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    .name,
    .main-nav {
        text-align: center;
        margin: 0 15px 0;
    }

    .name a {
        display: inline-block;
        font-size: .95em;
        color: #333333;
        background-color:transparent;
        margin-top: 15px;
    }

    .main-nav a {
        display: inline-block;
        font-size: .95em;
        background-color:transparent;
        padding: 17px;
        margin: 0 2px;
    }

    .welcome p {
        margin: 0 15px;
        text-align: left;
        font-size: 21px;
    }

    .profile-img {
        float: right;
        max-width: 287px;
    }

    #portfolio {
        text-align: center;
    } 

    .project {
        display: inline-block;
        padding: 0;
        width: 46%;
        margin: 0 1% 2%;
        vertical-align: top;
    }

    .back-to-top {
        display: none;
    }

    footer {
        margin: 0 35px;
    }
    .footer-nav {
        font-weight: 800;
        display: block;
        float: right; 
        margin: 35px 0 10px;
    }

    .footer-nav a {
        /* color: #333333; */
        font-size: .95em;
        text-transform: uppercase; 
        margin-left: 10px ;
    }
}


@media (min-width: 1024px) {

.page-container {
        width: 90%;
        margin: 0 auto;
    }

    .name {
        float: left;
        padding: 15px;
    }

    .main-nav {
        float: right;
        margin: 20px 15px 0;
    }

    .main-nav a {
        display: inline-block;
    }

    .profile-img {
        max-width: 100%;
    }
    
    .project {
        width: 30%;
    }

}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
